<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link type="text/css" rel="stylesheet" href="static_header.css"/>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="static_header.js"></script>
<div class="header">
  <div class="container">

    <ul class="menu">
      <li><a href="#">Missão e valores institucionais</a></li>
      <li><a href="#">Contato</a></li>
      <li><a href="#">Serviços Diferenciais</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">Sobre a Escola<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Corpo Docente</a></li>
          <li><a href="#">Infra-estrutura</a></li>
          <li><a href="#">Métodos de aprendizado</a></li>
          <li><a href="#">Ementa de disciplinas</a></li>
        </ul>
      </li>
    </ul>
  </div><!--container-->
</div><!--header-->
